setuptools
opencv-python
opencv-contrib-python
prettytable
tqdm
yacs
torchfile
plyfile
munkres
chumpy
trimesh
shyaml
PyYAML
numpy
numpy-quaternion
pygame
keyboard
transforms3d
bvhtoolbox
vedo
imgaug
tensorboard
smplx
pycocotools
plotly
open3d
addict
loguru
norfair
h5py
imageio-ffmpeg
pyrender
joblib
pandas
